[Unit]
Description=Heketi Service

[Service]
Type=simple
WorkingDirectory=/var/lib/heketi
EnvironmentFile=-/etc/heketi.json
User=heketi
ExecStart=/usr/bin/heketi -config=/etc/heketi.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
